.about {
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
}

.about__img {
  max-width: 90%;
  max-height: 80vh;
}

.about__text {
  color: $dark-border-color;
  @extend %functional-btn-box-shadow;

  .dark-theme & {
    color: $dark-text-color;
  }

}