.overlay .about {
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
}

.about__img {
  max-width: 90%;
  max-height: 80vh;
}

.about__text {
  color: $dark-border-color;

  .dark-theme & {
    color: rgb(68, 160, 160);
  }
  
  &:hover {
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.2);
  }

  .dark-theme &:hover {
    box-shadow: 0px 0px 12px 7px rgba(202, 183, 120, 0.2)
  }

}