* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-width: 448px; */
  /* margin: 0 auto; */
  margin-top: 10px;
  background: $main-background-color;
  font-family: Digital, sans-serif;

  &.dark-theme {
    background: $dark-main-background-color;
  }

}