* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 448px;
  margin: 0 auto;
  margin-top: 50px;
  background: $main-background-color;

  &.dark-theme {
    background: $dark-main-background-color;
  }

}