.main {
  width: 100%;
  background-color: $board-background-color;
  border: 7px solid $border-color;
  border-style: outset;
}

.board {
  /* padding: 7px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 2px; */
}