//main-theme
$main-background-color: rgb(194, 189, 189);
$board-background-color: rgb(217, 213, 213);
$border-color: rgb(235, 231, 231);

// dark theme
$dark-main-background-color: rgb(37, 36, 36);
$dark-board-background-color: rgb(48, 41, 41);
$dark-border-color: rgb(40, 36, 36);
$dark-bomb-background: rgb(67, 24, 24);