//main-theme
$main-background-color: rgb(194, 189, 189);
$board-background-color: rgb(217, 213, 213);
$border-color: rgb(235, 231, 231);
$display-bacjground: rgba(36, 34, 34, 0.8);
$win-color: rgb(54, 178, 54);

// dark theme
$dark-main-background-color: rgb(37, 36, 36);
$dark-board-background-color: rgb(48, 41, 41);
$dark-border-color: rgb(40, 36, 36);
$dark-bomb-background: rgb(67, 24, 24);

// placeholders

%display {
  padding: 2px;
  background-color: $display-bacjground;
  border: 4px solid $border-color;
  border-style: outset;

  body.dark-theme & {
    border: 4px solid $dark-border-color;
    border-style: outset;
  }

}